<section class="full-page skills" appReveal>
  <h2>Skills</h2>
  <div class="skills-container">

    <!-- Block 1: Acquired Skills -->
    <div class="skills-block">
      <h3>Mastered Skills</h3>
      <div class="skills-card">
        <ul>
          <li><strong>Web Development:</strong> Angular, React, HTML/CSS</li>
          <li><strong>Programming Languages:</strong> Python, Java, C++, JavaScript</li>
          <li><strong>Libraries:</strong> OpenCV, TensorFlow, NumPy, Matplotlib, Pillow, Pandas</li>
          <li><strong>Tools:</strong> Figma, GitHub, Office 365</li>
          <li><strong>Mathematics:</strong> Algebra, Analysis, Graph Theory, Multivariable Calculus</li>
          <li><strong>Project Management:</strong> Agile, Scrum</li>
        </ul>
      </div>
    </div>

    <div class="skills-block">
      <h3>Currently Learning</h3>
      <div class="skills-card">
        <ul>
          <li><strong>Programming Languages:</strong> R, SAS, Angular, TypeScript, C</li>
          <li><strong>Tools:</strong> Pipelines (CI/CD), GitLab</li>
          <li><strong>Mathematics:</strong> Probability and Statistics</li>
        </ul>
      </div>
    </div>

  </div>
</section>