/* Section Skills */
.skills {
  background: linear-gradient(to bottom, #498C8A, #47E5BC);
  color: white;
  width: 100%;
  padding: 2rem 1rem; /* Ajuste le padding */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
}

.skills h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.skills-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
  width: 100%;
  max-width: 400px; /* Ajuste la largeur maximale */
}

.skills-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.skills-card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skills-card li {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.4;
}

.skills-card li strong {
  color: #00ffd5;
}

/* Ajustements pour Mobile (Media Queries) */
@media (max-width: 768px) {
  .skills {
    padding: 1rem; /* Réduction du padding */
  }

  .skills h2 {
    font-size: 1.8rem; /* Réduction de la taille des titres */
  }

  .skills-container {
  }

  .skills-card {
    padding: 1rem; /* Réduction du padding interne */
    max-width: 90%; /* Les cartes occupent toute la largeur disponible */
  }

  .skills-card li {
    font-size: 0.9rem; /* Réduction de la taille du texte */
  }
}