<section class="full-page skills" appReveal>
  <h2>Compétences</h2>
  <div class="skills-container">

    <!-- Bloc 1 : Compétences acquises -->
    <div class="skills-block">
      <h3>Compétences maîtrisées</h3>
      <div class="skills-card">
        <ul>
          <li><strong>Développement web :</strong> Angular, React, HTML/CSS</li>
          <li><strong>Langages :</strong> Python, Java, C++, JavaScript</li>
          <li><strong>Librairie :</strong> OpenCV, tensorFlow, numpy, matplolib, Pillow, Panda
          <li><strong>Outils :</strong> Figma, GitHub, Office 365</li>
          <li><strong>Mathématiques :</strong> Algèbre, Analyse, Graphes, Calcul multivariable</li>
          <li><strong>Gestion de projet :</strong> Agile, Scrum</li>
        </ul>
      </div>
    </div>

    <div class="skills-block">
      <h3>En cours d'acquisition</h3>
      <div class="skills-card">
        <ul>
          <li><strong>Langages :</strong> R, SAS, Angular, TypeScript, C</li>
          <li><strong>Outils :</strong> Pipelines (CI/CD), GitLab</li>
          <li><strong>Mathématiques :</strong> Probabilités et Statistiques</li>
        </ul>
      </div>
    </div>

  </div>
</section>