<section class="full-page about" appReveal>
  <h2>About Me</h2>
  <p>
    Student at <strong>Polytechnique Montréal</strong> in software engineering and at <strong>Université de Montréal</strong> in mathematics.
    Passionate and always seeking new challenges, I received a <strong>UPIR scholarship</strong> at Polytechnique, aimed at introducing me to mathematical research.
  </p>
  <p>
    Interested in all fields of computer science, I have a preference for <strong>data science</strong>, the field of <strong>health</strong>,
    <strong>artificial intelligence</strong>, and <strong>cybersecurity</strong>.
  </p>
</section>