<!-- <section class="full-page hero" appReveal >
  <h1 id="welcome" class="welcome-text"> </h1>
  <div class="hero-content">
    <h1 class="hero-title">Hassib Kevin Ezzedine</h1>
    <div id="Programme" class="hero-program">
      <p>Génie logiciel (Polytechnique) et mathématiques (UdeM)</p>
    </div>
  </div>
</section> -->



<section class="full-page hero" appReveal>
  <!-- Section des salutations animées -->
  <div class="welcome-container">
    <h1 id="welcome" class="welcome-text" aria-live="polite">
      <!-- Le texte sera injecté dynamiquement via TypeScript -->
    </h1>
  </div>

  <!-- Section du contenu principal -->
  <div class="hero-content">
    <h1 class="hero-title" role="heading" aria-level="1">
      Hassib Kevin Ezzedine
    </h1>
    
    <!-- Section des informations académiques -->
    <div id="Programme" class="hero-program">
      <p>
        Génie logiciel (Polytechnique) et mathématiques (UdeM)
      </p>
    </div>
  </div>
</section>