<section class="full-page about" appReveal>
    <h2>À propos de moi</h2>
    <p>
      Étudiant à <strong>Polytechnique Montréal</strong> en génie logiciel et à <strong>l’Université de Montréal</strong> en mathématique.
      Passionné et toujours à la recherche de nouveaux défis, j’ai obtenu une <strong>bourse UPIR</strong> à Polytechnique visant
      à m’initier à la recherche mathématique.
    </p>
    <p>
      Intéressé par tous les domaines de l’informatique, j’ai une préférence pour <strong> science des données</strong>,le domaine de la <strong> santé</strong>,
      <strong>l’intelligence artificielle</strong> et la <strong>cybersécurité</strong>.
    </p>
  </section>