 <section class="full-page projects" appReveal>
  <h2>Projets</h2>
  <div class="projects-container">
    <div class="project-card">
      <img src="assets/img/Latin_hyperCube.png" width="230px" height="200px" alt="Description de l'image">
      <div class="project-content">
        <p><strong>Projet :</strong> Latin HyperCube Optimisé</p>
        <ul>
          <li>Développement d’un algorithme Python pour une répartition uniforme des points.</li>
          <li>Supervisé par un professeur de mathématiques à Polytechnique Montréal.</li>
          <li>Réalisé dans le cadre de la <strong>Bourse UPIR</strong>.</li>
        </ul>
      </div>
    </div>
    <div class="project-card">
      <img src="assets/img/pi.png" width="230px" height="200px" alt="Description de l'image">
      <div class="project-content">
        <p><strong>Projet :</strong> IA de Reconnaissance d’Équations</p>
        <ul>
          <li>Conception d’une IA pour reconnaître et résoudre des équations manuscrites.</li>
          <li>Outils utilisés : TensorFlow, NumPy, OpenCV.</li>
          <li>Compétences acquises : traitement d’images, apprentissage automatique.</li>
        </ul>
      </div>
    </div>
    <div class="project-card">
      <img src="assets/img/hangout_test.jpeg" width="230px" height="200px" alt="Description de l'image">
      <div class="project-content">
        <p><strong>Projet :</strong> Disponibilité Commune</p>
        <ul>
          <li>Créé pour trouver un jour commun pour sortir entre amis.</li>
          <li>Développé avec Python et la bibliothèque pandas.</li>
          <li>Utilise un format Excel spécifique comme entrée.</li>
          <li>Affiche les résultats dans le terminal (améliorations possibles).</li>
        </ul>
      </div>
    </div>
    <div class="project-card">
      <img src="assets/img/tetris_test.jpeg" width="230px" height="200px" alt="Description de l'image">
      <div class="project-content">
        <p><strong>Projet :</strong> Ultimate Website</p>
        <ul>
          <li>Création d’un jeu rétro Tetris en utilisant React, Tailwind.</li>
          <li>Apprentissage des bases de React et du jumelage back-end/front-end.</li>
          <li>Base de données du système de connexion réalisée avec MongoDB.</li>
          <li>Excellente collaboration en équipe qui a permis d’achever le projet.</li>
        </ul>
      </div>
    </div>
  </div>
</section>