<section class="full-page projects" appReveal>
  <h2>Projects</h2>
  <div class="projects-container">
    <div class="project-card">
      <img src="assets/img/Latin_hyperCube.png" width="230px" height="200px" alt="Image description">
      <div class="project-content">
        <p><strong>Project:</strong> Optimized Latin HyperCube</p>
        <ul>
          <li>Development of a Python algorithm for uniform point distribution.</li>
          <li>Supervised by a mathematics professor at Polytechnique Montréal.</li>
          <li>Carried out as part of the <strong>UPIR Scholarship</strong>.</li>
        </ul>
      </div>
    </div>
    <div class="project-card">
      <img src="assets/img/pi.png" width="230px" height="200px" alt="Image description">
      <div class="project-content">
        <p><strong>Project:</strong> Handwritten Equation Recognition AI</p>
        <ul>
          <li>Designed an AI to recognize and solve handwritten equations.</li>
          <li>Tools used: TensorFlow, NumPy, OpenCV.</li>
          <li>Skills acquired: image processing, machine learning.</li>
        </ul>
      </div>
    </div>
    <div class="project-card">
      <img src="assets/img/hangout_test.jpeg" width="230px" height="200px" alt="Image description">
      <div class="project-content">
        <p><strong>Project:</strong> Common Availability</p>
        <ul>
          <li>Created to find a common day to hang out with friends.</li>
          <li>Developed using Python and the pandas library.</li>
          <li>Uses a specific Excel format as input.</li>
          <li>Displays results in the terminal (improvements possible).</li>
        </ul>
      </div>
    </div>
    <div class="project-card">
      <img src="assets/img/tetris_test.jpeg" width="230px" height="200px" alt="Image description">
      <div class="project-content">
        <p><strong>Project:</strong> Ultimate Website</p>
        <ul>
          <li>Created a retro Tetris game using React, Tailwind.</li>
          <li>Learned the basics of React and backend/frontend integration.</li>
          <li>Database for the login system built with MongoDB.</li>
          <li>Excellent team collaboration enabled project completion.</li>
        </ul>
      </div>
    </div>
  </div>
</section>