
 .projects {
  background: linear-gradient(to bottom, #47E5BC, #92DCE5);
  color: white;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.projects h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin: 0 auto;
  max-width: 1200px;
}

.project-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center; /* Change le texte en alignement centré */
  display: flex; /* Active flexbox */
  flex-direction: column; /* Aligne les éléments verticalement */
  justify-content: center; /* Centre verticalement */
  align-items: center; /* Centre horizontalement */
}


.project-card ul {
  list-style-type: none; /* Supprime les puces des listes */
  padding: 0;
}

.project-card ul li {
  margin: 0.5rem 0; /* Ajoute un espacement entre les éléments de la liste */
  text-align: start; /* Aligne le texte au centre */
}

.project-card img {
  margin-bottom: 1rem; /* Ajoute un espacement sous l'image */
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.project-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #FF8C61;
}

.project-card p {
  font-size: 1rem;
  color: white;
  line-height: 1.5;
}